<h1>DA LONGEST WORD GAME</h1>

<h2>Grid</h2>

<div>
  <%= session[:grid] %>
</div>

  <h2>TOTAL TIME</h2>
  <p><%= @total_time %></p>

  <h2>ANSWER</h2>
  <p><%= @answer %></p>

  <h2>TRANSLATION</h2>
  <p><%= @translation %></p>

  <h2>SCORE</h2>
  <p><%= @score %></p>


